.wrapper {
    width: 600px;
    margin: auto;
}

.content {
    width: 100%;
    margin-top: 10px;
}

.form-item {
    padding: 8px;
}

.title {
    margin-bottom: 32px;
}

.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.input {
    display: flex;
    align-items: center;
    padding: 10.5px 14px;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
    border-color: rgb(221, 217, 217);
    border-radius: 5px;
    max-height: 40px;
}

.error-notice {
    color: red;
    margin-top: 4px;
    font-size: 1.4rem;
    text-align: left;
}

.actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 8px;
}

.action-item {
    display: flex;
    color: #8d8d8d;
    font-size: 1.8rem;
    user-select: none;
    cursor: pointer;

    &:hover > label,
    input {
        cursor: pointer;
    }
}

.checkbox {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
}

.reset-password-btn {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: #007bff;
        text-decoration: underline;
    }
}

.sign-in-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    span {
        color: #838383;
        margin-right: 4px;
    }

    .sign-in-btn {
        color: #0076ff;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
