.wrapper {
    width: 474px;
    margin-top: 10px;
    margin: auto;
}

.form-item {
    padding: 8px;
}

.title {
    margin-bottom: 32px;
}

.input {
    display: flex;
    align-items: center;
    padding: 10.5px 14px;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
    border-color: rgb(221, 217, 217);
    border-radius: 5px;
    max-height: 40px;
}
