.dropdown-container {
    z-index: 999;
    position: absolute;
    width: 191px;
    transform: translate(-50%, -50%);
    top: 80px;
}

.dropdown-menu {
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s linear, visibility 0.15s linear;
}

.active {
    visibility: visible;
    opacity: 1;
}

.dropdown-item {
    border: 1px solid;
    height: 50px;
    font-size: 1.6rem;
    justify-content: flex-start;
    padding: 10px;

    &:hover {
        background-color: var(--primary-button-hover-bgcolor);
    }
}
