@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --sidebar-width: 250px;
    --sidebar-collapse-width: 80px;
    --primary-button-hover-bgcolor: #0000000a;
}

html {
    font-size: 62.5%;
}

input {
    width: 100%;
    padding: 10.5px 14px;
    color: #646464;
    outline: none;
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
}

button {
    &:hover {
        cursor: pointer;
    }
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.wrapper {
}
