.wrapper {
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

.content {
    text-align: center;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 25%;
}

.sad-icon {
    font-size: 10rem;
    margin-bottom: 15px;
}

.title {
    margin-bottom: 15px;
    font-size: 2.4rem;
}

p {
    font-size: 1.8rem;
    line-height: 1.4;
}
