.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.25s ease;
}

.content {
    max-width: 83.3333%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 800px;
    margin-top: 64px;
}

.service-list {
}

.service-container {
    margin: 40px 0;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 4px;
    margin-bottom: 14px;
}

.service-type {
    flex-grow: 1;
    text-align: left;

    h5 {
        font-size: 2.4rem;
        font-weight: bold;
    }
}

.actions {
    height: fit-content;
    margin: 0 32px;
    font-size: 2.1875rem;
    padding: 4px;
    // position: relative;
}

.service-body {
    min-height: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #8282826b;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 4px 16px;
    width: 100%;
    height: 100%;
    min-height: 40px;
    background-color: #fff;

    &:not(:last-child) {
        border-bottom: 1px solid #8282826b;
    }
}

.title {
    width: 500px;
    text-align: left;
    margin: 4px 0;
}

.rules-list {
    width: 100%;
    padding-left: 20px;
}

.rule {
    width: 100%;
    display: flex;
    text-align: left;
}

.rule-name {
    flex-grow: 3;
    max-width: 50%;
}

.rule-duration {
    flex-grow: 2;
    max-width: 33.3333%;
}

.rule-price,
.rule-special-price {
    max-width: 8.3333%;
    flex-grow: 0;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.more-btn {
    min-width: 180px;
    width: fit-content;
    border-radius: 20px;
    padding: 11px 54px 10px;
}
