.wrapper {
    visibility: hidden;
    width: 0;
    z-index: 9999;
    overscroll-behavior: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 0.25s ease;
}

.main-content {
    width: 100%;
    height: calc(100% - 110px);
    position: relative;
    top: 110px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fafafa;
}

.modal {
    max-width: 90%;
    height: 100%;
    margin: auto;
}

.activeSize {
    width: calc(100% - var(--sidebar-width));
    visibility: visible;
    transition: 0.25s ease;
}

.collapseSize {
    width: calc(100% - var(--sidebar-collapse-width));
    transition: 0.25s ease;
}
