.form-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;

    // .phone-number-section {
    //     display: flex;
    //     padding: 10.5px 14px;
    //     font-size: 1.6rem;
    //     color: rgba(0, 0, 0, 0.87);
    //     border: 1px solid transparent;
    //     border-color: rgb(221, 217, 217);
    //     border-radius: 5px;
    // }

    label {
        display: inline-block;
        font-weight: 600;
        margin-bottom: 8px;
    }
}

.title {
    text-align: left;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10.5px 14px;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
    border-color: rgb(221, 217, 217);
    border-radius: 5px;
    max-height: 40px;
}

.input {
    width: 100%;
    color: #646464;
    outline: none;
    font-size: 1.6rem;
    border: none;
    background-color: transparent;

    // &:focus ~ .input-container {
    //     outline: none;
    //     border: 1px solid blue;
    // }
}

.error-notice {
    color: red;
    margin-top: 4px;
    font-size: 1.4rem;
}
