.wrapper {
    max-width: 100%;
    height: 100%;
    background-color: #fff;
    margin: auto;
}

.general-info {
    margin: 40px 0;
    padding: 21px 37px 33px;

    .title {
        margin-bottom: 10px;
    }
}

.info-item {
    margin-top: 24px;
}
