.wrapper {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px 48px;
}

.content {
    height: 100%;
}

.title {
    font-size: 2.8rem;
    line-height: 34px;
    color: #2c2c2c;
    margin-bottom: 32px;
}

.error-notice {
    color: red;
    margin-top: 4px;
    font-size: 1.4rem;
    text-align: left;
}

.submit-btn {
    margin-top: 24px;
}

.navigate-section {
    margin-top: 32px;
}

.navigate-btn {
    margin-left: 4px;
    color: #0076ff;

    &:hover {
        color: #0056b3;
        text-decoration: underline;
    }
}
