.wrapper {
    overscroll-behavior: none;
    min-width: var(--sidebar-width);
}

.content {
    width: var(--sidebar-width);
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    z-index: 1001;
    background-color: #4042c0;
    transition: width 0.25s ease;
    height: 100%;
}

.collapse {
    min-width: var(--sidebar-collapse-width);
    width: var(--sidebar-collapse-width);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 0;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.menu-btn {
    padding: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    justify-content: center;

    &:hover {
        box-shadow: none;
        background-color: #0000000a;
    }
}

.menu-icon {
    font-size: 2.4rem;
    color: #fff;
}
